#founds {
  /*background-color: #FFFD7F;*/
  margin: -8px;
  width: 101%;
  height: 800px;
}

.foundobject {
  margin: 50px;
  width: 90%;
  height: 100px;
  background-color:#5CD6D6;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}

.foundobject p {
  text-decoration: none !important;
  color:white;
  font-family: "Arvo", serif;
  font-size: 40px;
  padding:25px;
}

.foundobject:hover{
  background-color:#BEEFEF;
}