#map{
	width:800px;
	height:400px;
	margin-left:auto;
	margin-right:auto;
}

.morebitch{
	font-family: "Arvo", serif;
	text-align:center;
}

h2 {
	font-size:30px;
}

p {
	font-size:20px;
}

button {
	padding:10px;
	font-size:20px;
}

.respond form {
	display: inline-flex;
}
