#founds {
  background-color: #FFFD7F;
  margin: -8px;
  width: 101%;
  height: 800px;
}

.foundobject {
  margin: 50px;
  width: 90%;
  height: 100px;
  background-color: #D6D6D6;
  display: inline-flex;
}

.foundobject a {
  text-decoration: none;
  font-family: "Arvo", serif;
  font-size: 40px;

}
