button, input[type="button"], input[type="submit"] { 
    color:#000000; 
    font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
    background-color:#ff6666; 
    border:1px solid; 
    border-color:  #000000; 
    width: 150px;
    height: 30px;
    margin-left: 25px;
} 

input[name="email"]{
	margin-top: 150px;
}

.city2 {
  margin: -8px;
  height: 850px;
  width: 101%;
  background: url(/images/city2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form, input[type = "text"], input[type = "password"]{
	border-color: #ff6666;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}




#signup {
	float: right;
	margin-right: 50px;
}

#sign {
	background-color: #fffd7f;
}


#login {
	float: left;
	margin-left: 50px;
}