extends layout

block css
	link(rel='stylesheet', href='/css/found_list.css')

block content
	#founds
		each found in foundlist
			a(href="/found/#{found._id}")
				.foundobject
					p= found.title
						p= found.descriptions
