extends layout

block js
	script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
block content
	div#mapcanvas
	<h1>What did you find?</h1>
	form(action="/i-found-something", method="POST", id="foundSubmit")
		input(type="text", name="location", placeholder="Where did you find it?")
		input(type="text", name="description")
		textarea(name="description", cols="30", rows="10")
		input(type="text", name="email")
		button(type="submit") Submit
block scripts
	script(src="/scripts/geolocate.js")
