extends layout

block content
	if(loggedin)
		br
		br
	<h1>What did you find?</h1>
	form(action="/i-found-something", method="POST", id="foundSubmit")
		textarea(name="description")
		select
			option(value="phone") Phone
			option(value="laptop") Laptop
			option(value="book") Book
			option(value="keys") Keys
		input(type="text", name="email")
		button(type="submit") Submit
