extends layout


block js
	script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")

block css	
	link(rel='stylesheet', href='/css/found_form.css')


block content
	<h1>What did you find?</h1>
	form.newFound(action="/i-found-something", method="POST", id="foundSubmit")
		textarea(name="title", placeholder="What is the item?")
		textarea(name="description", placeholder="Please describe the item")
		input(type="text", name="email", placeholder="Please enter your e-mail")
		button(type="submit") Submit
