extends notlayout

block css
	link(rel='stylesheet', href='/css/index.css')

block content
	.container
		.unblurred
		.text
			h1.
				FoundIt
			#overcomplicating
				a(href="/login")
					#logbutton
						if loggedin
							div FIND YOUR STUFF
						else
							div LOG-IN / REGISTER
		#restofpage
			h1.
				FoundIt is the internet's lost and found.
			p.textyolo.
				You can use one of the two buttons below to begin your search. If you've lost something, click the button that says "Lost something", and you'll be asked to describe the item you lost as thoroughly as possible. If you found something, click the button that says "Found something", and you'll be asked to describe the item you found as thoroughly as possible. The difference, is however, that no one will see what you wrote, allowing you to ask searchers for more details and ensure that the object is really theirs.
		#foundorsearch
			#found
				p
					a(href="/i-found-something") Found something
			#search
				p
					a(href="/i-lost-something") Lost something
