extends layout

block css
	link(rel='stylesheet', href='/css/login.css')

block content
	button.
	form(action='/login', method='POST', id='loginForm')
		input(type="text", name='email', placeholder='email')
		input(type="password", name='password', placeholder='password')
		button(type='submit') Log in
	form(action="/signup", method='POST', id='signupForm')
		input(type="text", name='email', placeholder='email')
		input(type="text", name='fullname', placeholder='full name')
		input(type="password", name='password', placeholder='password')
		button(type='submit') Sign up