extends notlayout

block css
	link(rel='stylesheet', href='/css/login.css')

block content
	.authcontainer
		form.login-card(action='/login', method='POST', id='loginForm')
			h2 Log in
			input(type="text", name='email', placeholder='email')
			input(type="password", name='password', 	placeholder='password')
			button(type='submit', class='login login-submit') Log in
		form.sign-card(action="/signup", method='POST', id='signupForm')
			h2 Sign up
			input(type="text", name='email', placeholder='email')
			input(type="text", name='fullname', placeholder='full name')
			input(type="password", name='password', placeholder='password')
			button(type='submit' class='sign sign-submit') Sign up
