ul.nav
	if loggedin
		li
			a(href='/logout', class='links') Log out
	li
		a(href="/" id="logo") FoundIt
	li
		a(href="/found" class="links") Found
	li
		a(href="/i-found-something" class="links") I Found Something
	li
		a(href="/i-lost-something" class="links") I Lost Something
	