ul.nav
	li(class=(title === 'index' ? 'active' : ''))
		a(href="/" id="logo") FoundIt
	li(class=(title === 'found_list' ? 'active' : ''))
		a(href="/found" class="links") Found
	li(class=(title === 'found_form' ? 'active' : ''))
		a(href="/i-found-something" class="links") I Found Something
	li(class=(title === 'lost_form' ? 'active' : ''))
		a(href="/i-lost-something" class="links") I Lost Something
